body {
    /* background-image: url("grow.jpg"); */
    /* background-repeat: repeat; */
    /* background-size: cover; */
    /* color: rgb(243, 248, 240); */
   background-color: #B4B66B;
   color: aliceblue;
   text-shadow: 1px 1px 2px black;
   font-family: source-serif-pro, Georgia, Cambria, "Times New Roman", Times, serif;
   line-height: 1.6;
    
    
}
h1,h2,h3 {
    color: #789553;
}
div{
    display: flex;
    flex-direction: column;
    align-items: center;
}
ul ,ol{
    display: flex;
    max-width: 900px;
    flex-wrap: wrap;
    gap: 16px;
   
}
li{
    flex: 1;
    border: 2.5px solid #012C35;
    list-style: none;
    padding: 12px;  
    border-radius: 8px;  
    background-color: #3A773C;
    
}
img{
    opacity: 0.2;
    
}
a{
    color: aliceblue;
}
